Package: com.p2kdev.instazoom
Name: InstaZoom
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Zoom into images on Instagram!
Maintainer: P2KDev <p2kdev@gmail.com>
Author: P2KDev <p2kdev@gmail.com>
Section: Tweaks
Version: 1.0
Installed-Size: 168
